html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/* HERO */

.hero {
    grid-area: header;
    background: url(../images/desktop/image-hero.jpg) center center no-repeat;
    height: 650px;
    color: var(--white);
}

.hero .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 170px;
    margin-bottom: 35px;
    font-family: 'Alata', sans-serif;
}

.header .title {
    font-size: 3.5rem;
}

.nav-menu ul {
    display: flex;
    gap: 30px;
}

.nav-menu ul li a {
    position: relative;
    font-size: 1.4rem;
    color: var(--white);
}

.nav-menu ul li a:hover::after,
.footer-info a:hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: var(--white);
    height: 2px;
}

.hero-copy {
    text-transform: uppercase;
    margin-left: 170px;
    padding: 30px 40px;
    border: 2px solid var(--white);
    max-width: 640px;
    font-size: 7.2rem;
}

.hero-copy p {
    width: 100%;
}

/* ABOUT */

.about {
    grid-area: about;
    padding: 170px 170px 0 170px ;
    position: relative;
}

.about .about-text {
    background-color: var(--white);
    padding: 80px;
    max-width: 650px;
    position: absolute;
    right: 55px;
    bottom: -95px;
}

.about-text h2 {
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-text p {
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: bold;
    color: var(--dark-gray);
}

/* CREATIONS */

.creations {
    grid-area: creations;
    padding: 170px;
}

.header-creations {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-creations h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.header-creations button {
    padding: 7px 35px;
    background: transparent;
    color: var(--black);
    border: 1px solid var(--black);
    font-size: 1.8rem;
    cursor: pointer;
}

.header-creations button:hover {
    padding: 7px 35px;
    background: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
    font-size: 1.8rem;
}

.grid-creations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.grid-creations a {
    position: relative;
}

.grid-creations a:hover img {
    background-color: var(--white);
    opacity: .3;
}

.grid-creations a:hover h3 {
    color: var(--black);
}

.grid-creations a img {
    filter: brightness(90%);
}

.grid-creations a h3 {
    color: var(--white);
    font-weight: lighter;
    font-size: 2.8rem;
    max-width: 150px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

/* FOOTER */

.footer {
    grid-area: footer;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 30px 170px;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-menu h2 {
    margin-bottom: 10px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-info a {
    color: var(--white);
    margin-left: 10px;
    position: relative;
}

.footer-info .icons {
    gap: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.footer-info .copy {
    color: var(--dark-gray);
}

